body{
    background-color: rgb(255, 255, 255);
}

h1{
    display: flex;
    margin: auto;
    justify-content: center;
    color: rgb(94, 207, 252);
}

.listarea{
    width: 500px;
    padding: 50px;
    display: flex;
    margin: auto;
    justify-content: center;
    border-radius:10px;
    /* border: 5px solid rgb(117, 221, 235); */
}
#input{
    width: 300px;
    height: 50px;
    border-radius: 15%;
    border: 3px solid rgb(8, 196, 243);
    background-color: whitesmoke;
    font-size: 1.1rem;
    color: rgb(9, 29, 41);

}
#btncrear{
    width: 60px;
    height: 55px;
    border-radius: 40%;
    background-color:rgb(105, 193, 252);
    cursor: pointer;
    font-size: 1.1rem;
}
#btncrear:hover{
    background-color:rgb(158, 209, 243);
    color: rgb(155, 154, 245);
}

#btnborrar{
    width: 60px;
    height: 55px;
    border-radius: 40%;
    background-color:rgb(105, 193, 252);
    cursor: pointer;
    font-size: 1.1rem;
}
#btnborrar:hover{
    background-color:rgb(158, 209, 243);
    color: rgb(155, 154, 245);
}


.container{
    width: 400px;
    padding: 150px;
    display: block;
    margin: auto;
    justify-content: center;
    border-radius:20px 20px ;
    /* border: 5px solid  rgb(15, 177, 226) ; */
}


.lista{
    display: flex;
    background: rgb(116, 200, 233);
    width: 300px;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.eliminar{
    width: 60px;
    height: 55px;
    border-radius: 40%;
    background-color: rgb(129, 55, 247);
    cursor: pointer;
    font-size: 1.1rem;
}

.tachar{
    width: 60px;
    height: 55px;
    border-radius: 40%;
    background-color:rgb(129, 55, 247);
    cursor: pointer;
    font-size: 1.1rem;
}


