*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}

.container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    overflow: auto;
    padding: 10px;
}
.card {
    display: flex;
    background-color: #3b3b3b;
    border: 2px solid #696969; 
    border-radius: 25px 0px 0px 25px;   
}
.card:hover{
    transform: scale(1.07); 
}
.card-img {
    width: 100%;
    height: 250px;
    border-radius: 25px 0px 0px 25px;
}
.card-info {
    padding: 16px;
    min-width: 280px;
}
.bxs-circle{
    width: 20px;
}
.green{
    color: green;
}
.red{
    color: red;
}
.grey{
    color: rgb(77, 73, 73);
}


.card-title {
    font-size: 1.5em;
    margin: 10px -15px;
    color: #ffffff;
    text-align: center;
}
.card-subtitle{
    font-size: 1em;
    color: #666666;
}
.card-text {
    font-size: 1em;
    color: #ffffff;
    margin: 0 0 20px;
} 
