*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Press Start 2P', cursive; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff; 
    background-image: url(surtido-elementos-cine-sobre-fondo-rojo-espacio-copia.jpg);
    background-attachment: fixed; 
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    overflow: auto;
    padding: 20px;
}


.card {
    border: 2px solid #000000; 
    border-radius: 25px;
    overflow: hidden;
    width: 328px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    color: #fff;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(49, 255, 245, 0.5);
    transform: scale(1.07); 
}

.card-header {
    position: relative;
}

.card-img {
    width: 100%;
    height: 250px;
    display: block;
    border-bottom: 2px solid #000000;
    min-height: 250px;
}

.card-body {
    padding: 16px;
    text-align: center;
    min-height: 269px;
    background-color: #1a82a18e;
}

.card-title {
    font-size: 1.5em;
    margin: 10px -15px;
    color: #273dbb;
    background-color: #bfbfccab;
}

.card-text {
    font-size: 1em;
    color: #ddd;
    margin: 0 0 20px;
}