*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background-color: #b1e8ef;
    padding: 30px;
    font-size: 35px;
    color: white;
    display: flex;
    justify-content: space-around;
}
#busqueda{
    height: 30px;
    width: 400px;
}
.btn{
    right: 30px;
    top: 5px;
    color: #000000;
    text-align: center;
    padding: 15px 15px;
    background:transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(38, 0, 255, 0.329);
    border-radius: 15px;
    cursor: pointer;

}
.btn:hover{
    background-color:rgb(56, 189, 223);
    color: rgb(255, 255, 255);
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-around;
}
.navbar li{
    float: left;
}
.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
.navbar a:hover {
    background-color: #1dc3dd;
}
/* Baner de estilos */
#inicio{
    color: aliceblue;
    background-color: #777;
    margin: 5%;
}

/* cards */

.container{
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    overflow: auto;
    padding: 20px;
    justify-content: space-around;
}
.card {
    border-radius: 25px;
    overflow: hidden;
    width: 328px;
    backdrop-filter: blur(20px);
    position: relative;
    color: #000000;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(114, 114, 114, 0.5);
    transform: scale(1.07); 
}

.card-header {
    position: relative;
}

.card-body {
    padding: 16px;
    text-align: center;
    min-height: 269px;
}

.title {
    font-size: 1.5em;
    margin: 10px -15px;
    color: #0f8fdf;
}

.text {
    font-size: 1em;
    color: #000000;
    margin: 0 0 20px;
}






footer {
    background-color: #777;
    padding: 80px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: white;
}
#redes{
    color: #1dc3dd;
}
  
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}